# Dependency directories
node_modules/
# dotenv environment variable files
*.env

# Logs folder
Logs/*
!Logs/.getkeep
# NPVR folder(s)
NPVR/*
!NPVR/.getkeep
NPVR/media/channels/*
!NPVR/media/channels/.getkeep
NPVR/media/shows/*
!NPVR/media/shows/.getkeep
#transCoding folder
Stream/*
!Stream/.gitkeep