# Dependency directories
node_modules/
# dotenv environment variable files
*.env

# Logs folder
Logs/**/*.log
Logs/**/*.json
# NPVR folder(s)
NPVR/*.xml
NPVR/*.db3
!NPVR/.getkeep
NPVR/media/**/*.jpg
NPVR/media/**/*.xml
NPVR/media/**/*.png
#transCoding folder
Stream/**/*.m3u8
Stream/**/*.ts
!Stream/.getkeep
